body {
  font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f1f1f1;
  }

  .fillform {
    text-align: center;
    margin-bottom: 20px;
  }

  #results {
    font-size: 12px;
    font-weight: lighter;
    display: grid;
    gap: 10px;
    justify-content: center;
    width: 100%;
    max-width: 500px;
    margin: 20px auto 0;
  }

  #productname,
  #qty {
    line-height: 2.5em;
    width: 25em;
    padding: 0 10px;
    border: 1px solid #195276;
    background-color: #f8f9fa;
    border-radius: 8px;
    font-size: 16px;
    color: #333;
    transition: all 0.3s ease;
  }

  #qty {
    width: 6em;
  }

  #productname:focus,
  #qty:focus {
    outline: none;
    border-color: #3b7dd8;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(59, 125, 216, 0.5);
  }

  .add {
    margin-left: 10px;
    color: white;
    height: 2.5em;
    width: 75px;
    border-radius: 8px;
    border: none;
    font-size: 16px;
    background: #3b7dd8;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .add:active {
    transform: scale(0.98);
  }

  @media (max-width: 768px) {
    #productname {
      line-height: 2em;
      width: 10em;
      font-size: 15px;
    }

    #qty {
      line-height: 2em;
      width: 5em;
      font-size: 15px;
    }

    .add{
      font-size: 15px;
      height: 2.6em;
      width: 4em;
    }
    
  #results {
    font-size: 7px;
    font-weight: lighter;
    display: grid;
    gap: 10px;
    justify-content: center;
    width: 100%;
    max-width: 500px;
    margin: 20px auto 0;
  }

  }
